//トップページへのリンクボタン
#page-top.page-top
  %p
    %a#move-page-top.move-page-top ▲

//ハンバーガーメニュー
#wrapper
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li
        %a{:href => "#welcome-content", class: "open"} トップ
      %li
        %a{:href => "#about-content", class: "open"} 自己紹介
      %li
        %a{:href => "#exp-content", class: "open"} 経験
      %li
        %a{:href => "#portfolio-content", class: "open"} 制作実績
      %li
        %a{:href => "#contact-content", class: "open"} お問い合わせ

//トップページ
#welcome-content
  .welcome-box
    .welcome-title
      welcome to yuuto portfolio site
    = link_to 'a bout me', '#about-content', class: "about-link-btn"

//自己紹介
#about-content
  .about-box
    .about-title-box
      .about-title-sub
        ABOUT
      .about-title-main
        自己紹介
    .my-details
      .my-picture
      .my-info
        %ul
          %li
            名前：Takaki Yuuto
          %li
            出身：熊本県
          %li
            最終経歴：SE(組み込み、RPA)
          %li
            やってみたいこと
            %br
            自分のブログを立ち上げて、趣味の音楽についての情報発信や、日々学んだことについてアウトプットできる環境を作ってみたい
    = link_to '経験紹介', '#exp-content', class: "exp-link-btn"

//経験紹介
#exp-content
  .exp-box
    .exp-title-box
      .exp-title-sub
        EXPERIENCE
      .exp-title-main
        経験
    %ul.timeline
      %li
        %p.timeline-date 2018年4月
        .timeline-content
          %h3 SEとして株式会社富士ソフトへ入社
          %p 新入社員として、社会人の基礎を学ぶ。
      %li
        %p.timeline-date 2018年7月
        .timeline-content
          %h3 お客様先(東京エレクトロン九州)へ常駐し、本格的な業務の開始
          %p 半導体製造装置の新規機能の開発から保守までを担当する。
      %li
        %p.timeline-date 2019年6月
        .timeline-content
          %h3 RPA(Uipath)を勉強し、勤怠システムの自動化ツールを開発着手
          %p 勤怠システムの入力に時間がかかっていることに目を向け、その作業を自動化することに取り組む
      %li
        %p.timeline-date 2019年8月
        .timeline-content
          %h3 勤怠システムの自動化ツールが完成
          %p 月に30分程度かかっていた作業を10分程度に短縮できた。この頃からRPAを通じてWeb系に興味を持つようになる。
      %li
        %p.timeline-date 2020年1月
        .timeline-content
          %h3 富士ソフトを退職し、プログラミングスクール「tech-camp」へ入学
          %p Web系で働きたいという思いから退職し、プログラミングスクールに通い始める
    .portfolio-link-box
      = link_to '制作実績', '#portfolio-content', class: "portfolio-link-btn"

//実績紹介
#portfolio-content
  .portfolio-box
    .portfolio-title-box
      .portfolio-title-sub
        PORTFOLIO
      .portfolio-title-main
        制作実績
    .portfolio-title-sub-me
      個人制作

    //制作物「tsk-magmt」
    .work-box-a
      .work-picture
        = image_tag "tsk-mgmt/login-next.jpg", id: "main-image-a"
        .work-picture-sub
          = image_tag "tsk-mgmt/login-next.jpg",class: "sub-image-a active-a",id: 11
          = image_tag "tsk-mgmt/plan-add.jpg",class: "sub-image-a",id: 21
          = image_tag "tsk-mgmt/report-add.jpg",class: "sub-image-a",id: 31
          = image_tag "tsk-mgmt/report-index.jpg",class: "sub-image-a",id: 41
          = image_tag "tsk-mgmt/report-show.jpg",class: "sub-image-a",id: 51
          = image_tag "tsk-mgmt/top-page.jpg",class: "sub-image-a",id: 61
      .work-details
        //上部メニュー
        %ul.tabnav-a
          %li
            %a{:href => "#tab01"} 概要
          %li
            %a{:href => "#tab02"} 使用言語
          %li
            %a{:href => "#tab03"} 工夫した点、苦労した点
        .tabcontent-a
          //概要
          #tab01
            %bアプリ名
            %br
            tsk-mgmt
            %br
            %br
            %b URL
            %br
            = link_to 'http://18.178.191.12/', 'http://18.178.191.12/'
            %br
            %br
            %b制作期間
            %br
            10日(1日あたり約5H)
            %br
            %br
            %b github
            %br
            = link_to 'https://github.com/takaki-yuto/tsk-mgmt', 'https://github.com/takaki-yuto/tsk-mgmt'
            %br
            使用方法についてはread.meに記載しています。
            %br
            %br
            %b作成経緯
            %br
            メールを確認してもらえないことがあり、情報伝達がうまくできなかった経験がありました。
            %br
            この経験から、予定表を確認した時に、一目で未読メールがあることを確認できれば、見逃しを防ぐことができるのではないか？と考え、このWebアプリを作成いたしました。
          //使用言語
          #tab02
            %bフレームワーク
            %br
            Ruby on Rails(Ver5.2.4.1)
            %br
            %br
            %b使用言語
            %br
            HAML(ver5.1.2)
            %br
            SCSS(ver3.7.4)
            %br
            jquery(ver1.12.4)
            %br
            Ruby(ver2.5.1)
          //工夫した点、苦労した点
          #tab03
            %b 工夫した点
            %br
            自分が使ったことのない技術を多く取り入れるようにしました。
            %br
            具体例としては、gemのclender、summernoteやアラーム機能等です。
            %br
            エンジニアとして働く上で、技術を学んでいくことは必須のため、様々な機能にチャレンジしてみました。
            %br
            今回の経験から、自分一人でも新しい技術を学ぶことはできると分かったため、エンジニアとしての自信をつけることができました。
            %br
            %br
            %b 苦労した点
            %br
            バックエンドの開発が主に苦労しました。
            %br
            具体的には、自分が欲しいテーブルの情報をどうやって持ってくることができるのか？を考える点で多くの工数がかかりました。
            %br
            SQL文の使い方について、このアプリの他にも様々なWebアプリを作成するなどして、勉強していく必要があると感じました。

    //制作物「ポートフォリオ」
    .work-box-b
      .work-picture
        = image_tag "Ptkyt/top-page.jpg", id: "main-image-b"
        .work-picture-sub
          = image_tag "Ptkyt/top-page.jpg",class: "sub-image-b active-b",id: 12
          = image_tag "Ptkyt/exp.jpg",class: "sub-image-b",id: 22
          = image_tag "Ptkyt/portfolio.jpg",class: "sub-image-b",id: 32
      .work-details
        //上部メニュー
        %ul.tabnav-b
          %li
            %a{:href => "#tab01"} 概要
          %li
            %a{:href => "#tab02"} 使用言語
          %li
            %a{:href => "#tab03"} 工夫した点、苦労した点
        .tabcontent-b
          //概要
          #tab01
            %bポートフォリオサイト
            %br
            %br
            %b制作期間
            %br
            3日(1日あたり約5H)
            %br
            %br
            %b github
            %br
            = link_to 'https://github.com/takaki-yuto/P-yuuto', 'https://github.com/takaki-yuto/P-yuuto'
            %br
            %br
          //使用言語
          #tab02
            %bフレームワーク
            %br
            Ruby on Rails(Ver5.2.4.1)
            %br
            %br
            %b使用言語
            %br
            HAML(ver5.1.2)
            %br
            SCSS(ver3.7.4)
            %br
            jquery(ver1.12.4)
          //工夫した点、苦労した点
          #tab03
            %b 工夫した点
            %br
            常にサイトの閲覧者の気持ちを考えながら、作成に取り組みました。
            %br
            閲覧者がどのような情報を欲しいのか？ユーザビリティが考慮されているか？を重点に置き作業いたしました。
            %br
            結果として、不要な情報を非表示にさせたり、ハンバーガーメニューを思いつくことができました。
            %br
            %br
            %b 苦労した点
            %br
            レスポンシブデザインを考えることに苦戦いたしました。
            %br
            作業途中に気付いたのですが、画面サイズを小さくしてみるとビューが崩れてしまう問題が発生しました。
            %br
            気付いたのが完成間近ということもあり、CSSの修正等に多くの工数を使ってしまいました。
            %br
            基本的なHTML、CSS等の知識だけではサイトを作成していく中で、通用しないと実感することができました。

    //サブタイトル
    .portfolio-title-sub-me
      プログラミングスクールの制作物
    //制作物「FURIMA」
    .work-box-c
      .work-picture
        = image_tag "FURIMA/top-page.jpg", id: "main-image-c"
        .work-picture-sub
          = image_tag "FURIMA/top-page.jpg",class: "sub-image-c active-c",id: 13
          = image_tag "FURIMA/product-show.jpg",class: "sub-image-c",id: 23
          = image_tag "FURIMA/new-user.jpg",class: "sub-image-c",id: 33
      .work-details
        //上部メニュー
        %ul.tabnav-c
          %li
            %a{:href => "#tab01"} 概要
          %li
            %a{:href => "#tab02"} 使用言語
          %li
            %a{:href => "#tab03"} 工夫した点、苦労した点
        .tabcontent-c
          //概要
          #tab01
            %bアプリ名
            %br
            FURIMA
            %br
            %br
            %b URL
            %br
            = link_to 'http://18.178.226.87/', 'http://18.178.226.87/'
            %br
            ID：admin
            %br
            Pass：2222
            %br
            %br
            %b制作期間
            %br
            4週間(1日あたり約9H)
            %br
            %br
            %b github
            %br
            = link_to 'https://github.com/takaki-yuto/furima-app', 'https://github.com/takaki-yuto/furima-app'
            %br
            %br
            %b作成経緯
            %br
            プログラミングスクールに通っていた際に、ECサイトをチーム開発で作成したものです。
            %br
            私は主に、デプロイ、DB設計、フロントエンド(新規会員登録、商品詳細画面)、サーバーサイド(商品詳細画面)を担当いたしました。
          //使用言語
          #tab02
            %bフレームワーク
            %br
            Ruby on Rails(Ver5.2.4.1)
            %br
            %br
            %b使用言語
            %br
            HAML(ver5.1.2)
            %br
            SCSS(ver3.7.4)
            %br
            jquery(ver1.12.4)
            %br
            Ruby(ver2.5.1)
          //工夫した点、苦労した点
          #tab03
            %b 工夫した点
            %br
            どうすれば効率よく作業ができるのか常に考えながら行動を心がけました。
            %br
            具体的には各メンバーに待ちが発生しないように、タスクの割り振りを考えたり、自分のタスクに期間を設けるなどを行いました。
            %br
            結果として自分の作業を予定より早めに終わらせることができ、チームメンバーのフォローに入ることができました。
            %br
            %br
            %b 苦労した点
            %br
            チーム開発ではrails5.2を使用していたのでsecrets.ymlが使えず、master.keyを使ったデプロイに苦戦しました。
            %br
            デプロイについては問題が起きてもチームメンバーに相談ができないため、問題解決をするのにも時間がかかりました。
            %br
            今振り返ると、スクールの先輩方やメンターさんに早めに相談したほうが、問題解決も早かったのではないかと感じました。


//お問い合わせ
#contact-content
  .contact-box
    .contact-title-box
      .contact-title-sub
        CONTACT
      .contact-title-main
        お問い合わせ
    %i.far.fa-envelope.fa-2x.mail
    f71.takaki.yuuto@gmail.com
    .license
    Copyright &copy; 2020 Yuuto Takaki All rights reserved.
